<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.vhr.mapper.EmployeeecMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.vhr.model.Employeeec">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="eid" column="eid" jdbcType="INTEGER"/>
            <result property="ecdate" column="ecDate" jdbcType="DATE"/>
            <result property="ecreason" column="ecReason" jdbcType="VARCHAR"/>
            <result property="ecpoint" column="ecPoint" jdbcType="INTEGER"/>
            <result property="ectype" column="ecType" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,eid,ecDate,
        ecReason,ecPoint,ecType,
        remark
    </sql>
    <select id="getEmployeeEcByPage" resultType="top.zhengru.vhr.vo.EmployeeecVO">
        select
            e.name as ecName,
            p.name as ecPosition,
            ec.ecDate,
            ec.ecReason,
            ec.ecPoint,
            ec.ecType,
            ec.remark
        from
            employeeec ec,
            employee e,
            position p
        where
            ec.eid = e.id and
            e.posId = p.id
            <if test="keyword != null">
                and e.name like concat('%',#{keyword},'%')
            </if>
            <if test="page != null and size != null">
                limit
                #{page}, #{size}
            </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select
            count(*)
        from
            employeeec ec,
            employee e
        where
            ec.eid = e.id
            <if test="keyword != null">
                and e.name like concat('%',#{keyword},'%')
            </if>
    </select>
</mapper>
