<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.vhr.mapper.HrMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.vhr.model.Hr">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userface" column="userface" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        telephone,address,enabled,
        username,password,userface,
        remark
    </sql>
    <update id="updateHr">
        update hr
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteHrById">
        delete from hr where id = #{id}
    </delete>

    <select id="loadUserByUsername" resultType="top.zhengru.vhr.model.Hr">
        select * from hr where username = #{username}
    </select>

    <select id="getHrRolesById" resultType="top.zhengru.vhr.model.Role">
        SELECT
            r.*
        FROM
            role r,hr_role hrr
        WHERE
            hrr.rid = r.id AND hrr.hrid = #{id}
    </select>
    <resultMap id="HrWithRoles" type="top.zhengru.vhr.model.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="top.zhengru.vhr.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <select id="getAllHrs" resultMap="HrWithRoles">
        select
            hr.id,hr.name,hr.phone,hr.telephone,hr.address,hr.enabled,hr.username,hr.userface,hr.remark,
            r.id as rid,r.name as rname,r.nameZh as rnameZh
        from hr
                 left join hr_role hrr on hr.id = hrr.hrid
                 left join role r on hrr.rid = r.id
        where hr.id != #{id}
            <if test="keywords != null">
                and hr.name like concat('%',#{keywords},'%')
            </if>
        order by hr.id
    </select>
    <select id="getAllHrsExceptCurrentHr" resultMap="BaseResultMap">
        select * from hr where id != #{id}
    </select>
</mapper>
