<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.vhr.mapper.HrRoleMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.vhr.model.HrRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="hrid" column="hrid" jdbcType="INTEGER"/>
            <result property="rid" column="rid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hrid,rid
    </sql>
    <insert id="addRole">
        insert into hr_role (hrid,rid) values
            <foreach collection="rids" separator="," item="rid">
                (#{hrid},#{rid})
            </foreach>
    </insert>
    <delete id="deleteByHrId">
        delete from hr_role where hrid = #{hrid}
    </delete>
</mapper>
